# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore __pycache__ stuff
**/__pycache__/*

# Ignore Mac OS X Temporary Files
*.DS_Store

# Dependency directories (remove the comment below to include it)
# vendor/

# Ignore images and videos
*.png
*.bmp
*.mp4

eq-perf-test2/drone_simulation/dron-sim0/*

# Ignore virtual environment stuff.
**/my_drake_venv/*
**/virtual-environments/*
kinova-arm-venv/*